html {
  scroll-behavior: smooth;
  background: #333; }

body {
  margin: 0 2rem 0 2rem;
  padding: 0;
  color: white;
  font-family: 'Merriweather', serif; }

header {
  background: url(../images/header-img.jpg);
  background-size: cover;
  margin: 0;
  padding-bottom: 4rem;
  text-align: center;
  color: white;
  /* The navigation menu */
  /* Navigation links */
  /* The subnavigation menu */
  /* Subnav button */
  /* Add a red background color to navigation links on hover */
  /* Style the subnav content - positioned absolute */
  /* Style the subnav links */
  /* Add a grey background color on hover */
  /* When you move the mouse over the subnav container, open the subnav content */ }
  header .navbar {
    overflow: hidden;
    background-color: #333; }
  header .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }
  header .subnav {
    float: left;
    overflow: hidden; }
  header .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0; }
  header .navbar a:hover, header .subnav:hover .subnavbtn {
    background-color: #37523d; }
  header .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #37523d;
    width: 100%;
    z-index: 1; }
  header .subnav-content a {
    float: left;
    color: white;
    text-decoration: none; }
  header .subnav-content a:hover {
    background-color: #eee;
    color: black; }
  header .subnav:hover .subnav-content {
    display: block; }

.mainheader {
  font-family: 'Lobster', sans-serif;
  text-decoration: underline;
  margin-top: 7rem;
  font-size: 5rem; }

.secondheader {
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  padding-top: 0; }

.arrow {
  width: 7%;
  padding-top: 3rem;
  margin-bottom: 3rem; }

.container-header {
  text-align: center;
  background-color: #37523d;
  margin-top: 0; }

.intro {
  padding: 2rem 5rem 2rem 5rem; }

.f-intro {
  padding-bottom: 5rem; }

.hiking-img {
  background: url(../images/hiking.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 10rem;
  height: 100%; }
.hiking-article {
  padding-bottom: 10rem; }

.canoeing-img {
  background: url(../images/canoeing.jpg);
  background-repeat: no-repeat;
  padding-bottom: 10rem;
  margin-top: 3rem;
  height: 100%; }
.canoeing-article {
  padding-bottom: 10rem;
  padding-top: 5rem; }

.camping-img {
  background: url(../images/camping.jpeg);
  background-size: 100%;
  padding-bottom: 15rem;
  border-radius: 3%; }

.climbing-img {
  background: url(../images/rock-climbing.jpg);
  background-size: 100%;
  padding-bottom: 15rem;
  border-radius: 3%; }

.fishing-img {
  background: url(../images/fishing.jpg);
  background-size: 100%;
  padding-bottom: 15rem;
  border-radius: 3%; }

.hunting-img {
  background: url(../images/hunting.jpg);
  padding-bottom: 15rem;
  background-size: 100%;
  border-radius: 3%; }

.grid-1 {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 1;
  grid-template-rows: auto;
  grid-gap: 1rem;
  grid-template-areas: "hiking" "canoeing" "camping" "climbing" "fishing" "hunting"; }

.hiking {
  grid-area: hiking;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-gap: 1rem;
  grid-template-areas: "hiking-img hiking-article"; }
  .hiking-img {
    grid-area: hiking-img; }
  .hiking-article {
    grid-area: hiking-article; }

.canoeing {
  grid-area: canoeing;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-gap: 1rem;
  grid-template-areas: "canoeing-article canoeing-img"; }
  .canoeing-article {
    grid-area: canoeing-article; }
  .canoeing-img {
    grid-area: canoeing-img; }

.camping {
  grid-area: camping;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-gap: 1rem;
  grid-template-areas: "camping-img camping-article"; }
  .camping-img {
    grid-area: camping-img; }
  .camping-article {
    grid-area: camping-article; }

.climbing {
  grid-area: climbing;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-gap: 1rem;
  grid-template-areas: "climbing-article climbing-img"; }
  .climbing-article {
    grid-area: climbing-article; }
  .climbing-img {
    grid-area: climbing-img; }

.fishing {
  grid-area: fishing;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 50% 50%;
  grid-gap: 1rem;
  grid-template-areas: "fishing-img fishing-article"; }
  .fishing-img {
    grid-area: fishing-img; }
  .fishing-article {
    grid-area: fishing-article; }

.hunting {
  grid-area: hunting;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 50% 50%;
  grid-gap: 1rem;
  grid-template-areas: "hunting-article hunting-img"; }
  .hunting-img {
    grid-area: hunting-img; }
  .hunting-article {
    grid-area: hunting-article; }

/*# sourceMappingURL=main.css.map */
