html {
    scroll-behavior: smooth;
    background: #333;
}

body {
    padding: 0;
    color: white;
    font-family: 'Merriweather', serif;
}

header {
    background: url(../images/header-img.jpg);
    background-size: cover;
    margin: 0;
    padding-bottom: 4rem;
    text-align: center;
    color: white;

    /* The navigation menu */
.navbar {
    overflow: hidden;
    background-color: #333;
 }
  
  /* Navigation links */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }
  
  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #37523d;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #37523d;
    width: 100%;
    z-index: 1;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }
}


.mainheader {
    font-family: 'Anton', sans-serif;
    text-decoration: underline;
    margin-top: 7rem;
    font-size: 5rem;
    font-weight: 300;
}

.secondheader {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    padding-top: 0;
}

.arrow {
    width: 7%;
    padding-top: 3rem;
    margin-bottom: 3rem;
}

.container {
    &-header {
        text-align: center;
        margin-top: 3rem;
    }
}

.intro {
   padding: 1rem 5rem 1rem 5rem;
   text-align: center;
}

.f-intro {
    padding-bottom: 5rem;
} 

article {
    text-align: center;
    padding: 0 2rem 0 2rem;
}

.hiking {
    &-img {
        background: url(../images/hiking.jpg);
        background-size: 100%;
        padding-bottom: 15rem;
    }
}

.canoeing {
    &-img {
        background: url(../images/canoeing.jpg);
        background-size: 100%;
        padding-bottom: 15rem;
    }
}

.camping {
    &-img {
        background: url(../images/camping.jpeg);
        background-size: 100%;
        // padding-bottom: 15rem;
    }
}

.climbing {
    &-img {
        background: url(../images/rock-climbing.jpg);
        background-size: 100%;
        // padding-bottom: 15rem;
    }
}

.fishing {
    &-img {
        background: url(../images/fishing.jpg);
        background-size: 100%;
        // padding-bottom: 15rem;
        background-repeat: no-repeat;
    }
}

.hunting {
    &-img {
        background: url(../images/hunting.jpg);
        // padding-bottom: 15rem;
        background-size: 100%;
        background-repeat: no-repeat;
    } 
}

// contact page styling
.navbar {
    overflow: hidden;
    background-color: #333;
}

/* Navigation links */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The subnavigation menu */
.subnav {
    float: left;
    overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #37523d;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #37523d;
    width: 100%;
    z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
    display: block;
}

.contact-html {
    background: url(../images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Merriweather', serif;
}

.join-us {
    text-align: center;
    font-size: 5rem;
    text-decoration: underline;
    color:  white;
}

* {
    box-sizing: border-box;
}
  
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
  
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
  
input[type=submit] {
    background-color: #37523d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
  
input[type=submit]:hover {
    background-color: white;
    color: #333;
}
  
.container {
    border-radius: 5px;
    background-color: #333;
    padding: 20px;
}
  
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
  
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
  
//Clear floats after the columns
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

//gallery styling starts here

body { 
    margin: 0; background: #131212;  
} 
div#masonry { 
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap;
    height: 100vw;
    max-height: 800px;
    font-size: 0;  
}
div#masonry img {  
    width: 33.3%;
    transition: .8s opacity;
} 

div#masonry:hover img { opacity: 0.3; }
div#masonry:hover img:hover { opacity: 1; } 

/* fallback for earlier versions of Firefox */

@supports not (flex-wrap: wrap) {
    div#masonry { display: block; }
    div#masonry img {  
    display: inline-block;
    vertical-align: top;
    }
}

