html {
    scroll-behavior: smooth;
    background: black;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Merriweather', serif;
}

header {
    background: url(../images/header-img.jpg);
    background-size: cover;
    margin: 0;
    padding-bottom: 4rem;
    text-align: center;
    
    nav {
        ul {
            background: rgba(0, 0, 0, 0.5);
            height: 1.5rem;
            margin: 0;
            padding: 0;
            border: 1px solid;
            border-color: white;
            height: 2rem;
            position: sticky;
        }

        li {
            text-decoration: none;
            display: inline-block;
            width: 15rem;
            font-size: 2rem;
        }

        a {
            color:  white;
            text-decoration: none;
            
        
        }
    }
}

.mainheader {
    font-family: 'Oswald', sans-serif;
    text-decoration: underline;
    margin-top: 7rem;
    font-size: 5rem;
}

.secondheader {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
}

.arrow {
    width: 7%;
    padding-top: 3rem;
    margin-bottom: 3rem;
}

.container {
    &-header {
        text-align: center;
        background-color: grey;
        margin-top: 0;
    }
}

.intro {
   padding: 2rem 5rem 2rem 5rem;
}

.f-intro {
    padding-bottom: 5rem;
} 


.hiking {
    padding-bottom: 5rem;
    &-img {
        background: url(../images/hiking.jpg);
        background-size: 100%;
        padding-bottom: 15rem;
        border-radius: 3%;
    }
}

.canoeing {
    &-img {
        background: url(../images/canoeing.jpg);
        background-size: 100%;
        padding-bottom: 15rem;
        border-radius: 3%;
    }
}

.camping {
    &-img {
        background: url(../images/camping.jpeg);
        background-size: 100%;
        padding-bottom: 15rem;
        border-radius: 3%;
    }
}

.climbing {
    &-img {
        background: url(../images/rock-climbing.jpg);
        background-size: 100%;
        padding-bottom: 15rem;
        border-radius: 3%;
    }
}

.fishing {
    &-img {
        background: url(../images/fishing.jpg);
        background-size: 100%;
        padding-bottom: 15rem;
        border-radius: 3%;
    }
}

.hunting {
    &-img {
        background: url(../images/hunting.jpg);
        padding-bottom: 15rem;
        background-size: 100%;
        border-radius: 3%;
    } 
}

// contact page styling