.grid-1 {
    display: grid;
    width: 100%;
    margin: 0 auto;

    grid-template-columns: 1;
    grid-template-rows: auto;

    grid-template-areas:
    "hiking"
    "canoeing"
    "camping"
    "climbing"
    "fishing"
    "hunting"
    "footer"
}

.activity {
    // grid-area: activity;
    display: grid;
    margin: 0 auto;

    grid-template-columns:50% 50%;
    grid-template-rows: 24.625rem;

    grid-template-areas:
    "hiking-img hiking-article";

    &-img {
        grid-area: hiking-img;
    }

    &-article {
        grid-area: hiking-article;
    }
}

.canoeing {
    // grid-area: canoeing;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25.5rem;

    grid-template-areas:
    "canoeing-article canoeing-img";

    &-img {
        grid-area: canoeing-img;
    }
    &-article {
        grid-area: canoeing-article;
    }
}

.camping {
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 23.5rem;
}

.climbing {
    // grid-area: climbing;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25.5rem;

    grid-template-areas:
    "climbing-article climbing-img";

    &-img {
        grid-area: climbing-img;
    }
    &-article {
        grid-area: climbing-article;
    }
}


.hunting {
    // grid-area: hunting;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 27.5rem;

    grid-template-areas:
    "hunting-article hunting-img";

    &-img {
        grid-area: hunting-img;
    }
    &-article {
        grid-area: hunting-article;
    }
}

footer {
    grid-area: footer;
}

// gallery layout starts here

.gallery-container {
    display: grid;
    // grid-gap:0.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5;
}

