.grid-1 {
    display: grid;
    width: 100%;
    margin: 0 auto;

    grid-template-columns: 1;
    grid-template-rows: auto;

    grid-template-areas:
    "hiking"
    "canoeing"
    "camping"
    "climbing"
    "fishing"
    "hunting"
}

.activity {
    // grid-area: ;
    display: grid;
    margin: 0 auto;

    grid-template-columns:50% 50%;
    grid-template-rows:410px;

    grid-template-areas:
    "hiking-img hiking-article";

    &-img {
        grid-area: hiking-img;
    }

    &-article {
        grid-area: hiking-article;
    }
}

.canoeing {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 440px;

    grid-template-areas:
    "canoeing-article canoeing-img";

    &-img {
        grid-area: canoeing-img;
    }
    &-article {
        grid-area: canoeing-article;
    }
}

.climbing {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 440px;

    grid-template-areas:
    "climbing-article climbing-img";

    &-img {
        grid-area: climbing-img;
    }
    &-article {
        grid-area: climbing-article;
    }
}

.hunting {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 440px;

    grid-template-areas:
    "hunting-article hunting-img";

    &-img {
        grid-area: hunting-img;
    }
    &-article {
        grid-area: hunting-article;
    }
}

// gallery layout starts here

.gallery-container {
    display: grid;
    // grid-gap:0.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5;
}