.grid-1 {
    display: grid;
    width: 100%;
    margin: 0 auto;

    grid-template-columns: 1;
    grid-template-rows: auto;
    grid-gap: 1rem;

    grid-template-areas:
    "hiking"
    "canoeing"
    "camping"
    "climbing"
    "fishing"
    "hunting"
}

.hiking {
    grid-area: hiking;
    display: grid;
    margin: 0 auto;

    grid-template-columns: 30% 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;

    grid-template-areas:
    "hiking-img hiking-article";

    &-img {
        grid-area: hiking-img;
    }

    &-article {
        grid-area: hiking-article;
    }
}

.canoeing {
    grid-area: canoeing;
    display: grid;
    margin: 0 auto;

    grid-template-columns: 1fr 30%;
    grid-template-rows: auto;
    grid-gap: 1rem;

    grid-template-areas:
    "canoeing-article canoeing-img";

    &-article {
        grid-area: canoeing-article;
    }

    &-img {
        grid-area: canoeing-img;
    }
}

.camping {
    grid-area: camping;
    display: grid;
    margin: 0 auto;

    grid-template-columns: 30% 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;

    grid-template-areas:
    "camping-img camping-article";

    &-img {
        grid-area: camping-img;
    }

    &-article {
        grid-area: camping-article;
    }
}

.climbing {
    grid-area: climbing;
    display: grid;
    margin: 0 auto;

    grid-template-columns: 1fr 30%;
    grid-template-rows: auto;
    grid-gap: 1rem;

    grid-template-areas:
    "climbing-article climbing-img";

    &-article {
        grid-area: climbing-article;
    }

    &-img {
        grid-area: climbing-img;
    }
}

.fishing {
    grid-area: fishing;
    display:grid;
    margin: 0 auto;

    grid-template-columns: 30% 1fr;
    grid-gap: 1rem;

    grid-template-areas:
    "fishing-img fishing-article";

    &-img {
        grid-area: fishing-img;
    }
    &-article {
        grid-area: fishing-article;
    }
}

.hunting {
    grid-area: hunting;
    display: grid;
    margin: 0 auto;

    grid-template-columns: 1fr 30%;
    grid-gap: 1rem;

    grid-template-areas:
    "hunting-article hunting-img";
    
    &-img {
        grid-area: hunting-img;
    }
    &-article {
        grid-area: hunting-article;
    }
}